In [1]:
#eval makes the input entered by user to a number

num = eval(input('Enter a number: '))
print('Your number squared:', num*num)

Enter a number: 3*12+5
Your number squared: 1681

In [3]:
x='*******************'

In [4]:
for i in range(4):
    print(x)

*******************
*******************
*******************
*******************

In [21]:
x=int(input('enter a num:'))
print(f'{x}---{x*2}---{x*3}---{x*4}---{x*5}')

enter a num:7
7---14---21---28---35

In [28]:
x=int(input('enter weight in kgs:'))
print('weight in pounds',x*2.2)

enter weight in kgs:55
weight in pounds 121.00000000000001

In [58]:
eval(input('enter no for calculation'))

enter no for calculation512-282/47.48+5

511.0606571187869

In [65]:
ibill=int(input('enter billed amount:'))
itip=float(input('enter tip in %:'))
tip=ibill*itip

total=tip+ibill
print('total bill alongwith tip is:',total,'$')

enter billed amount:500
enter tip in %:.75
total bill alongwith tip is: 875.0 $

In [83]:
for i in range(3):
    num = eval(input('Enter a number: '))
    print ('The square of your number is', num*num)
print('The loop is now done.')

Enter a number: 8.8
The square of your number is 77.44000000000001
Enter a number: 45
The square of your number is 2025
Enter a number: 58
The square of your number is 3364
The loop is now done.

In [85]:
print('A')
print('B')
for i in range(5):
    print('C')
    print('D')
print('E')

A
B
C
D
C
D
C
D
C
D
C
D
E

In [88]:
#The end=' ' just keeps everything on the same line
for i in range(5,0,-1):
    print(i, end=' ')
    print('Blast off!!')

5 Blast off!!
4 Blast off!!
3 Blast off!!
2 Blast off!!
1 Blast off!!

In [129]:
x=int(input('enter the height of triangle'))
for i in range(x):
    print('*'*(i+1))

enter the height of triangle5
*
**
***
****
*****

In [93]:
for i in range(5):
    print(i+1,'noman')

1 noman
2 noman
3 noman
4 noman
5 noman

In [96]:
for i in range(20):
    print(i+1,'---',(i+1)**2)

1 --- 1
2 --- 4
3 --- 9
4 --- 16
5 --- 25
6 --- 36
7 --- 49
8 --- 64
9 --- 81
10 --- 100
11 --- 121
12 --- 144
13 --- 169
14 --- 196
15 --- 225
16 --- 256
17 --- 289
18 --- 324
19 --- 361
20 --- 400

In [100]:
for i in range(8,90,3):
    print(i)

8
11
14
17
20
23
26
29
32
35
38
41
44
47
50
53
56
59
62
65
68
71
74
77
80
83
86
89

In [108]:
for i in range(10):
    print('A',end='')
for i in range(7):
    print('B',end='')
for i in range(4):
    print('C',end='')
    print('D',end='')
print('E',end='')
for i in range(6):
    print('F',end='')
print('G')

AAAAAAAAAABBBBBBBCDCDCDCDEFFFFFFG

In [115]:
def gen_fibon(n):
    
    a=1
    b=1
    for i in range(n):
        yield a
        a,b=b,a+b
        
for x in gen_fibon(int(input('enter a no to generate fibon:'))):
    print(x)

enter a no to generate fibon:5
1
1
2
3
5

In [134]:
def print_rectangle(n, m) :
     
    for i in range(1, n+1) :
        for j in range(1, m+1) :
            if (i == 1 or i == n or
                j == 1 or j == m) :
                print("*", end="")           
            else :
                print(" ", end="")           
         
        print()
        
r=int(input('enter rows'))
c=int(input('enter columns'))
print_rectangle(r,c)

enter rows4
enter columns9
*********
*       *
*       *
*********

In [136]:
#reverse
x=int(input('enter the height of triangle'))
for i in range(x,0,-1):
    print('*'*i)

enter the height of triangle5
*****
****
***
**
*

In [137]:
h = eval(input("please enter diamond's height:"))

for i in range(h):
    print(" "*(h-i), "*"*(i*2+1))
for i in range(h-2, -1, -1):
    print(" "*(h-i), "*"*(i*2+1))

please enter diamond's height:5
      *
     ***
    *****
   *******
  *********
   *******
    *****
     ***
      *

In [138]:
result_str="";    
for row in range(0,7):    
    for column in range(0,7):     
        if (((column == 1 or column == 5) and row != 0) or ((row == 0 or row == 3) and (column > 1 and column < 5))):    
            result_str=result_str+"*"    
        else:      
            result_str=result_str+" "    
    result_str=result_str+"\n"    
print(result_str);

  ***
 *   *
 *   *
 *****
 *   *
 *   *
 *   *